.step-input {
  margin: 0 auto;
 
}


.step-input input {
   border: 2px solid #FF8170;
   background-color: rgba(255, 183, 112, 0.2);
   border-radius: 10px;
   padding: 5px;
   font-size: 120%;
   margin: 5px;
   color: #0B5F73;
}